# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [64]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Step 4. How many products cost more than $10.00?

In [42]:
chipo['item_price_float'] = chipo.item_price.apply(lambda x: float(x.replace('$','')))

c_filtered = chipo[chipo.item_price_float >= 10.00]

c_filtered = c.drop_duplicates(['item_name','quantity','choice_description'])

c_1 = c_filtered[c_filtered.quantity == 1]

c_1.item_name.value_counts()

Chicken Bowl             150
Chicken Burrito          113
Steak Burrito             90
Steak Bowl                63
Veggie Bowl               31
Chicken Salad Bowl        31
Veggie Burrito            26
Carnitas Bowl             24
Barbacoa Burrito          23
Barbacoa Bowl             21
Chicken Soft Tacos        17
Steak Salad Bowl          17
Carnitas Burrito          16
Chicken Crispy Tacos      12
Barbacoa Soft Tacos        8
Veggie Salad Bowl          8
Steak Soft Tacos           7
Steak Crispy Tacos         6
Barbacoa Salad Bowl        5
Carnitas Salad Bowl        4
Barbacoa Crispy Tacos      4
Carnitas Soft Tacos        3
Carnitas Crispy Tacos      2
Veggie Soft Tacos          2
Chicken Salad              2
Name: item_name, dtype: int64

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [54]:
c = chipo.drop_duplicates(['item_name','item_price_float'])
c = c[c['quantity']==1]
c[['item_name','item_price_float']].sort_values(['item_price_float'],ascending = False)

                  item_name  item_price_float
606        Steak Salad Bowl             11.89
1229    Barbacoa Salad Bowl             11.89
1132    Carnitas Salad Bowl             11.89
93         Carnitas Burrito             11.75
1008  Carnitas Crispy Tacos             11.75
...                     ...               ...
6             Side of Chips              1.69
329           Bottled Water              1.50
263       Canned Soft Drink              1.25
28              Canned Soda              1.09
34            Bottled Water              1.09

[135 rows x 2 columns]

### Step 6. Sort by the name of the item

In [56]:
chipo.sort_values(['item_name'],ascending = True)

,order_id,quantity,item_name,choice_description,item_price,item_price_float
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [60]:
chipo.sort_values(['item_price_float'],ascending = False).quantity.head(1)

3598    15
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [62]:
chipo[chipo.item_name == 'Veggie Salad Bowl'].quantity.sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [72]:
len(chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)])

20